<a class="btn btn-success btn-block btn-lg" href="/banners/edit"><i class="fa fa-plus"></i> Добавить</a>
<div class="row" style="margin-top: 10px">
    <div class="col-md-6">
        <input type="text" class="form-control pull-right filter" id="search" placeholder="Поиск...">
    </div>
    <div class="col-md-6">
        <select id="zoneId" class="form-control filter">
            <option value="">Все зоны</option>
            {{#each Zones}}
                <option value="{{Id}}">{{Name}}</option>
            {{/each}}
        </select>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Зоны</th>
        <th>Кол-во показов</th>
        <th>Кол-во кликов</th>
        <th width="150">Функции</th>
    </tr>
    </thead>
    <tbody id="list">
        <tr>
            <td colspan="6" style="text-align: center;">Загрузка...</td>
        </tr>
    </tbody>
</table>

<script id="template" type="text/template">
    <tr>
        <td class="Id"></td>
        <td class="Name"></td>
        <td class="Zones"></td>
        <td class="ViewsCount"></td>
        <td class="ClicksCount"></td>
        <td>
            <a class="btn btn-primary editLink" href="/banners/edit/">
                <i class="fa fa-edit"></i>
            </a>
            <a
                    class="btn btn-danger deleteLink"
                    onclick="return confirm('Вы действительно хотите удалить баннер?');"
                    href="/banners/delete/"
            >
                <i class="fa fa-trash-o"></i>
            </a>
        </td>
    </tr>
</script>
<link rel="stylesheet" href="/node_modules/nprogress/nprogress.css">
<style>
    #nprogress .bar {
        background: #fff;
    }
</style>
<script src="/node_modules/nprogress/nprogress.js"></script>
<script src="/js/admin/banners/index.js"></script>